{% extends 'layout.html.twig' %}

{% block body %}

    <div class="text-center mb-5">
        <h3>Create your free account</h3>
    </div>

    <div class="mt-4 pt-4 delimiter-top">

        {{ form_start(form, { 'attr': { 'class': 'js-form', 'novalidate': '' } }) }}

            {{ form_row(form.email, { 'attr': { 'placeholder': 'name@example.com' }}) }}

            {{ form_row(form.password, { 'attr': { 'placeholder': 'password' }}) }}

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block js-btn">
                    <span class="js-btn-icon"></span>Sign Up
                </button>
            </div>

        {{ form_end(form) }}

    </div>

    <div class="text-center">
        Already have an account? <a class="anchor-primary" href="{{ path('identity_login') }}">Sign in</a>
    </div>

{% endblock %}
